<div template id="login-modal-template">
    <div class="header">
        <i class="sign in icon"></i> Iniciar Sesi칩n
    </div>
    <form class="ui form content">
        <div class="fields">
        <div class="eight wide field">
            <label for="login-modal-username">Correo Electronico</label>
            <input type="text" id="login-modal-username" name="login-modal-username" placeholder="juan@jound.mx" />
        </div>
        <div class="eight wide field">
            <label for="login-modal-password">Contrase침a</label>
            <input type="password" id="login-modal-password" name="login-modal-password" placeholder="" />
        </div>
        </div>
    </form>
    <div class="actions">
        <button type="reset" class="ui dark button cancel"  id="login-modal-cancel">Cancelar</button>
        <button type="submit" class="ui orange button ok"  id="login-modal-ok">Entrar</button>
    </div>
</div>

<div template id="settings-modal-template">
    <i class="close icon"></i>
    <div class="header">Ajustes</div>
    <form class="ui form content">
        <div class="ui list">
            <div class="item">
                <div class="field">
                    <div class="ui toggle checkbox" id="settings-modal-auto-search-wrapper">
                        <input type="radio" id="settings-modal-auto-search" name="settings-modal-auto-search">
                        <label>Habilitar <b>busqueda automatica</b></label>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="item">
                <div class="field">
                    <div class="ui toggle checkbox" id="settings-modal-auto-focus-wrapper">
                        <input type="radio" id="settings-modal-auto-focus" name="settings-modal-auto-focus">
                        <label>Habilitar <b>auto enfoque</b> de resultados</label>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="item">
                <label for="fruit">Rango de busqueda:</label>
                <div class="ui hidden divider"></div>
                <div class="ui slider range">
                    <input id="settings-modal-radius" name="settings-modal-radius" type="range" min-label="1km" max-label="10kms" min="1000" max="10000" step="1000" />
                </div>
            </div>
        </div>
    </form>
</div>

<div template id="signup-modal-template">
    <div class="header">
        <i class="user icon"></i> Crear Cuenta
    </div>
    <form class="ui form content">
        <div class="field">
            <label for="signup-modal-username">Correo Electronico</label>
            <input type="text" id="signup-modal-username" name="signup-modal-username" placeholder="juan@jound.mx" />
        </div>
        <div class="two fields">
            <div class="eight wide field">
                <label for="signup-modal-password">Contrase침a</label>
                <input type="password" id="signup-modal-password" name="signup-modal-password" />
            </div>
            <div class="eight wide field">
                <label for="signup-modal-password-confirmation">Confirmar Contrase침a</label>
                <input type="password" id="signup-modal-password-confirmation" name="signup-modal-password-confirmation" />
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="field">
            <div class="ui slider checkbox">
                <input type="checkbox" name="signup-tos-confirmation" id="signup-tos-confirmation">
                <label for="signup-tos-confirmation">Accepto los terminos y condiciones</label>
            </div>
        </div>
    </form>
    <div class="actions">
        <button type="reset" class="ui dark button cancel"  id="signup-modal-cancel">Cancelar</button>
        <button type="submit" class="ui orange button ok"  id="signup-modal-ok">Crear</button>
    </div>
</div>