<% if(LAYOUT === 'phones'){ %>
<div class="ui fixed bottom small menu" id="footer">
    <div class="item">
        Jound 2015
    </div>
</div>
<% } else { %>
<div class="ui fixed bottom small menu" id="footer">
    <div class="item">
        Jound 2015
    </div>
    <div class="right menu">
        <a href="http://app.jound.mx/acerca-de-jound.html" target="_blank" class='item' id="footer-about-us-button">
            <i class="icon info circle"></i>
            Acerca de Jound
        </a>
        <a href="/ayuda" class='item' id="footer-help-button">
            <i class="icon help circle"></i>
            Ayuda
        </a>
        <a href="/privacidad" class='item' id="footer-about-us-button">
            <i class="icon unhide"></i>
            Politica de Privacidad
        </a>
        <!--a href="/referrals" class='item' id="footer-about-us-button">
            <i class="icon users"></i>
            Programa de Afiliados
        </a-->
        <a href="/agregar-negocio" class='item' id="footer-about-us-button">
            <i class="icon add circle"></i>
            Agregar mi Negocio
        </a>
    </div>
</div>
<% } %>