<% if(LAYOUT === 'phones'){ %>
<div class="ui fixed bottom small menu" id="footer">
    <div class="item">
        Jound 2015
    </div>
</div>
<% } else { %>
<div class="ui fixed bottom small menu" id="footer">
    <div class="item">
        Jound 2015
    </div>
    <div class="right menu">
        <a href="/about" class='item' id="footer-about-us-button">
            <i class="icon info circle"></i>
            Acerca de Jound
        </a>
        <a href="/privacy" class='item' id="footer-about-us-button">
            <i class="icon unhide"></i>
            Politica de Privacidad
        </a>
        <a href="/referrals" class='item' id="footer-about-us-button">
            <i class="icon users"></i>
            Programa de Afiliados
        </a>
        <a href="/business-add" class='item' id="footer-about-us-button">
            <i class="icon add circle"></i>
            Agregar mi Negocio
        </a>
    </div>
</div>
<% } %>