<div class="ui fixed top orange inverted menu" id="header">
    <a href="/#" class='item' id="header-logo">
        <img src="/images/icon-white.png" />
    </a>
    <div class="right menu" id="header-user-menu"></div>
</div>