<div class="ui fixed top orange inverted menu" id="header">
    <a href="/#" class='item' id="header-logo">
        <img src="/images/icon-white.png" />
    </a>
    <form class="item" id="search-box">
        <div class="ui search">
            <div class="ui icon input">
                <input class="prompt" type="text" placeholder="¿Qué estas buscando?" id="search-box-value">
                <input class="hide" type="text" hidden id="search-box-category" />
            </div>
            <div class="results"></div>
        </div>
        <button type="submit"  id="search-box-button" class="ui button icon">
            <i class="search icon"></i>
        </button>
    </form>
    <a class='item disabled' id="position-toggle">
        <i class="icon location arrow"></i>
    </a>
    <div class="right menu" id="header-user-menu"></div>
</div>