<% layout('./layouts/' + LAYOUT) -%>
<% script('/javascripts/lodash.min.js') -%>
<% script('/javascripts/backbone.js') -%>
<% script('//www.parsecdn.com/js/parse-1.3.4.min.js') -%>
<% script('//maps.google.com/maps/api/js?v=3&sensor=false&key=AIzaSyDErD0SmoSczDbedVgFhTdamYStKYU1mXM&language=es') -%>
<% script('//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js') -%>

<% if(LAYOUT === 'phones') { %>
<% script('/javascripts/app-phones.js') -%>
<% } else { %>
<% script('/javascripts/app.js') -%>
<% } %>

<div id="map">
    <div id="map-loader"></div>
</div>

<script>
var globalKeywords = <%- JSON.stringify(data.keywords) %> || [];

<% if(data.venue) { %>

    window.initialVenueConfig = <%- JSON.stringify(data.venue) %>

<% } %>
</script>

<div template id="login-modal-template">
    <div class="header">
        <i class="sign in icon"></i> Iniciar Sesión
    </div>
    <form class="ui form content">
        <div class="fields">
        <div class="eight wide field">
            <label for="login-modal-username">Correo Electronico</label>
            <input type="text" id="login-modal-username" name="login-modal-username" placeholder="juan@jound.mx" />
        </div>
        <div class="eight wide field">
            <label for="login-modal-password">Contraseña</label>
            <input type="password" id="login-modal-password" name="login-modal-password" placeholder="" />
        </div>
        </div>
    </form>
    <div class="actions">
        <button type="reset" class="ui dark button cancel"  id="login-modal-cancel">Cancelar</button>
        <button type="submit" class="ui orange button ok"  id="login-modal-ok">Entrar</button>
    </div>
</div>

<div template id="settings-modal-template">
    <i class="close icon"></i>
    <div class="header">Ajustes</div>
    <form class="ui form content">
        <div class="ui list">
            <div class="item">
                <div class="field">
                    <div class="ui toggle checkbox" id="settings-modal-auto-search-wrapper">
                        <input type="radio" id="settings-modal-auto-search" name="settings-modal-auto-search">
                        <label>Habilitar <b>busqueda automatica</b></label>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="item">
                <div class="field">
                    <div class="ui toggle checkbox" id="settings-modal-auto-focus-wrapper">
                        <input type="radio" id="settings-modal-auto-focus" name="settings-modal-auto-focus">
                        <label>Habilitar <b>auto enfoque</b> de resultados</label>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="item">
                <label for="fruit">Rango de busqueda:</label>
                <div class="ui hidden divider"></div>
                <div class="ui slider range">
                    <input id="settings-modal-radius" name="settings-modal-radius" type="range" min-label="1km" max-label="10kms" min="1000" max="10000" step="1000" />
                </div>
            </div>
        </div>
    </form>
</div>

<div template id="signup-modal-template">
    <div class="header">
        <i class="user icon"></i> Crear Cuenta
    </div>
    <form class="ui form content">
        <div class="field">
            <label for="signup-modal-username">Correo Electronico</label>
            <input type="text" id="signup-modal-username" name="signup-modal-username" placeholder="juan@jound.mx" />
        </div>
        <div class="two fields">
            <div class="eight wide field">
                <label for="signup-modal-password">Contraseña</label>
                <input type="password" id="signup-modal-password" name="signup-modal-password" />
            </div>
            <div class="eight wide field">
                <label for="signup-modal-password-confirmation">Confirmar Contraseña</label>
                <input type="password" id="signup-modal-password-confirmation" name="signup-modal-password-confirmation" />
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="field">
            <div class="ui slider checkbox">
                <input type="checkbox" name="signup-tos-confirmation" id="signup-tos-confirmation">
                <label for="signup-tos-confirmation">Accepto los terminos y condiciones</label>
            </div>
        </div>
    </form>
    <div class="actions">
        <button type="reset" class="ui dark button cancel"  id="signup-modal-cancel">Cancelar</button>
        <button type="submit" class="ui orange button ok"  id="signup-modal-ok">¡Dame Jound!</button>
    </div>
</div>

<div template id="venue-template">
    <div id="ui-card-wrapper" class="venue">
        <div class="ui card">
            <div class="image">
                <a class="ui corner orange label"><i class="close icon"></i></a>
                <img src="{{ data.logo }}" id="venue-card-logo">
                <div class="ui large star rating" data-rating="5" data-max-rating="5"></div>
            </div>

            <div class="content">
                <a class="header">{{ data.name }}</a>
                <div class="meta">
                    <span class="date">{{ data.activity }}</span>
                </div>
                <div class="ui divider"></div>
                <div class="ui divided list">
                    <div class="item">
                        <div class="header">Direccion</div>
                        <div class="description" id="venue-card-address"></div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="extra content options">
                    {% if(data.liked){ %}
                        <button class="ui circular small orange button icon" id="venue-card-like" title="Ya no Me Gusta {{ data.name }}"><i class="like icon"></i></button>
                    {% } else { %}
                        <button class="ui circular small button icon" id="venue-card-like" title="Hacer Me Gusta {{ data.name }}"><i class="like icon"></i></button>
                    {% } %}
                    
                    <a class="ui circular small button icon" id="venue-card-share" title="Compartir la tarjeta de {{ data.name }}"><i class="share icon"></i></a>
                    <a class="ui small button icon" id="venue-card-directions" title="Como llegar a {{ data.name }} desde el punto de origen"><i class="road icon"></i> Ruta</a>
                </div>
                <div id="directions-panel"></div>
            </div>
        </div>
        <div id="venue-options">
            {% if(data.phoneNumber){ %}<a class="ui orange tiny button right icon" href="tel:{{ data.phone_number }}" title="Llamar a {{ data.name }}"><i class="call icon"></i> {{data.phoneNumber}}</a>{% } %}
            {% if(data.url){ %}<a class="ui orange tiny button right icon" target="_blank" href="//{{data.www}}" title="Ir al sitio de {{ data.name }}"><i class="world icon"></i> {{data.www}}</a>{% } %}
            {% if(data.email){ %}<a class="ui orange tiny button right icon" id="venue-options-send-message" title="Enviar mensaje a {{ data.name }}"><i class="send icon"></i> Enviar mensaje</a>{% } %}
            {% if(data.page) { %}
                
                {% if(data.page.facebook) { %}
                <a class="ui facebook button" title="Ver perfil de Facebook de {{ data.name }}"><i class="facebook icon"></i> Facebook</a>
                {% } %}

                <a class="ui black button right icon super loading" title="Ver la RocketPage de {{ data.name }}" id="venue-card-rocket-button"><i class="rocket icon"></i> Ver RocketPage</a>
            {% } %}
        </div>
    </div>
</div>

<div template id="venue-videos-template">
    <div class="ui content">
        <div id="venue-videos-list" class="ui list"></div>
    </div>
</div>

<div template id="venue-message-template">
    <div class="header">
        <i class="send icon"></i> Enviar Mensaje
    </div>
    <form class="ui form content">
        <div class="ui field">
            <label>Nombre</label>
            <input type="text" placeholder="Nombre completo" name="message-modal-name">
        </div>
        <div class="ui field">
            <label>Email</label>
            <input type="text" placeholder="Direccion de correo" name="message-modal-email">
        </div>
        <div class="ui field">
            <label>Telefono</label>
            <input type="text" placeholder="Numero de telefono" name="message-modal-phone">
        </div>
        <div class="ui field">
            <label>Mensaje</label>
            <textarea placeholder="Mensaje" name="message-modal-message"></textarea>
        </div>
        <div class="ui checkbox" id="message-modal-contact-wrapper">
            <input type="checkbox" name="message-modal-contact">
            <label>Pueden contactarme por telefono</label>
        </div>
    </form>
    <div class="actions">
        <button type="reset" class="ui dark button cancel"  id="venue-message-modal-cancel">Cancelar</button>
        <button type="submit" class="ui orange button ok"  id="venue-message-modal-ok">Enviar mensaje</button>
    </div>
</div>