<% layout('./layouts/' + LAYOUT) -%>
<% script('/javascripts/lodash.min.js') -%>
<% script('/javascripts/backbone.js') -%>
<% script('//www.parsecdn.com/js/parse-1.3.4.min.js') -%>
<% script('//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js') -%>

<% if(LAYOUT === 'phones') { %>
<% script('/javascripts/app-corporate-phones.js') -%>
<% } else { %>
<% script('/javascripts/app-corporate.js') -%>
<% } %>


<div class="ui page grid">
	<div class="sixteen wide column">
		<h1>Aviso de Privacidad</h1>

		<p>El presente aviso de privacidad forma parte del siguiente dominio web y todos sus subdominios: http://jound.mx</p>

		<p>Como responsable de la Protección de Datos Personales, (en lo sucesivo referido indistintamente como "Jound"), conocedor en la alta sensibilidad e importancia de la seguridad de los datos personales de sus clientes mantiene el compromiso de proteger la privacidad y cumplir con la legislación aplicable a la protección de datos; señalando como domicilio para efectos del presente aviso el ubicado en San Felipe #53 C.p 83250 col. Apache, Hermosillo Sonora Mexico.</p>
		
		<p>Los términos utilizados en el presente Aviso, tendrán la definición que la misma Ley Federal de Protección de Datos Personales en Posesión de Particulares señala (Ley publicada en el Diario Oficial de la Federación con fecha 5 de Julio de 2010).</p>

		<p>Al proporcionar sus datos personales a Jound, el anunciante expresamente reconoce y acepta el presente Aviso. Informando que los datos recabados en virtud de los servicios contratados, serán tratados con fines de:</p>

		<ul>
			<li>IDENTIFICACIÓN</li>
			<li>OPERACIÓN</li>
			<li>ADMINISTRACIÓN</li>
			<li>ANÁLISIS</li>
			<li>OFRECIMIENTO Y PROMOCIÓN DE BIENES, PRODUCTOS Y SERVICIOS</li>
			<li>PROSPECCIÓN COMERCIAL</li>
		</ul>

		<p>En relación a las "cookies" estas serán únicamente utilizadas con el objeto de estudiar los flujos de tráfico a través de sus sitios y aplicaciones web, de escritorio y mobiles.</p>

		<p>Los datos personales que puede recabar Jound: nombres, apellidos, domicilios, teléfonos, correos electrónicos, claves de Registro Federal de Contribuyentes, así como toda aquella información que el cliente proporcione a lo largo de la relación comercial que establezcan, por lo que la misma no es considerada de acuerdo al artículo 3 de la LFPDPP, como datos sensibles.</p>

		<p>La recolección de datos que realiza Jound es de buena fe y por tal motivo presume que los mismos son verdaderos, correctos, completos e identifican al titular que los suministra y/o provee, por lo que es obligación del titular que los datos que este proporcione a Jound, cumplan con estas características y se actualicen en la medida que sea necesario. De igual forma Jound se reserva el derecho de ejercer las acciones que considere pertinentes en caso de engaños de datos.</p>

		<p>Los datos personales podrán ser tratados y utilizados por Jound para llevar a cabo algunas o todas las actividades relacionadas con el cumplimiento de las obligaciones que deriven de la relación comercial y/o contractual que se originen y/o deriven de la prestación de los servicios con el objeto de mantener informado al cliente de la creación de productos, servicios y promociones de Jound y/o de terceros, realizar estudios sobre hábitos de consumo y de mercado, así como para cualquier otra actividad tendiente a promover, mantener, mejorar y evaluar los servicios, misma que podrá ser enviada por cualquier medio. Esta indicación podrá ser modificada, previa notificación por escrito que realice el cliente, dirigida a Jound.mx a través del correo electrónico jaime@jound.mx</p>

		<p>Jound, podrá transferir los datos personales que haya recibido,recolectado,llegue a recibir,recolectar de sus clientes a sus subsidiarias,afiliadas, terceros, ya sean nacionales, extranjeros o cualquier autoridad competente que así lo solicite para llevar a cabo las finalidades descritas en el párrafo que antecede. La transferencia de los datos personales del cliente se encuentra limitada a aquellos actos, hechos y/o procedimientos que jound requiere implementar a efecto de estar en posibilidad de cumplir con sus obligaciones contractuales, regulatorias y/o comerciales en el curso ordinario de sus operaciones. Si el cliente no manifiesta su oposición para que sus datos personales sean transferidos, se entenderá que ha otorgado su consentimiento para ello.</p>

		<p>Jound cuenta con los recursos técnicos, materiales y humanos necesarios para asegurar que los datos personales del cliente serán tratados en estricto apego a la Ley.</p>

		<p>No obstante de lo anterior el cliente podrá solicitar a Jound el ejercicio de los derechos de acceso, rectificación, cancelación u oposición y la revocación del consentimiento que la Ley prevé debiendo para tal efecto enviar una solicitud por escrito al correo electrónico jaime@jound.mx (Centro de Atención a Clientes). Es fundamental que para que Jound atienda correcta y oportunamente cualquier solicitud a la que se refiere esta sección, la misma deberá contener los siguientes requisitos:</p>

		<ul>
			<li>NOMBRE COMPLETO DEL TITULAR</li>
			<li>NÚMERO DE TELÉFONO DE LOCALIZACIÓN</li>
			<li>DESCRIPCIÓN SUCINTA DE LA SOLICITUD</li>
			<li>RAZONES QUE MOTIVAN SU SOLICITUD</li>
		</ul>

		<p>La respuesta a su solicitud será enviada en el plazo permitido por la Ley al correo electrónico del remitente de la misma.</p>

		<p>El cliente reconoce y acepta que dentro de las finalidades del tratamiento de sus datos personales es cumplir con sus obligaciones contractuales, comerciales que mantiene y/o mantendrá con Jound por lo que no podrá cancelar y/u oponerse al tratamiento de datos personales que pueden y/o pudieran afectar y/o restringir el cumplimiento de las mismas.</p>

		<p>Jound, expresamente se reserva el derecho, bajo su exclusiva discreción, de cambiar, modificar, agregar o eliminar partes del presente aviso en cualquier momento; cambios que se darán a conocer a través de sus páginas bajo el dominio http://jound.mx</p>

		<p>En la medida que el cliente lo solicite, en los términos antes mencionados la cancelación y/u oposición de sus datos personales y continúe accediendo y/o utilizando, parcial o totalmente los servicios, implica que ha aceptado y consentido el presente Aviso de Privacidad y sus cambios y/o modificaciones.</p>
		</pre>
	</div>
</div>