/* Empty. Add your own CSS if you like */
#map {
	height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map-category {
	z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
}

#categories-results-list.visible {
	z-index: 1000;
}
.angular-google-map-container, .angular-google-map { height: 100%; }
