<div class="ui fixed top orange inverted menu" id="header">
    <a href="/#" class='item' id="header-logo">
        <img src="/images/icon-white.png" />
    </a>
    <form class="item" id="search-box">
        <div class="ui icon input">
            <input type="text" placeholder="Search..." id="header-search-text">
            <i class="search link icon disabled" id="header-search-icon"></i>
        </div>
    </form>
    <div class="ui item search selection dropdown" id="header-category-dropdown-wrapper">
        <input type="hidden" name="header-category-dropdown" id="header-category-dropdown">
        <i class="dropdown icon"></i>
        <div class="default text">Categorias</div>
        <div class="menu">
            <div class="item" data-value="all">Todo</div>
            <% data.categories.forEach(function(c){ console.log(c, 'category'); %><div class="item" data-value="<%= c.objectId %>"><%= c.pluralized %></div><% }); %>
        </div>
    </div>

    <a class='item disabled' id="position-toggle">
        <i class="icon location arrow"></i>
    </a>
    <div class="right menu" id="header-user-menu"></div>
</div>