<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= data.title %></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- stylesheets -->
<link rel="stylesheet" href="/components/semantic/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/base.css">
<!-- Core scripts -->
<script src="/components/modernizr/modernizr.js"></script>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/semantic/semantic.min.js"></script>