<div class="ui fixed top orange inverted tiered menu" id="header">
    <div class="menu" id="main-menu">
        <a href="/" class='item' id="header-logo">
            <img src="/images/icon-white.png" />
        </a>
        <div class="item">Jound Mobile</div>
        <div class="right menu">
            <a class='item' id="sidebar-toggle">
                <i class="icon content"></i>
            </a>
        </div>
    </div>
    <div class="submenu">
        <div class="item" id="search-box">
            <div class="ui icon input">
                <input type="text" placeholder="Buscar e.g. comida">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="item" id="header-category-dropdown-wrapper">
            <select name="header-category-dropdown" id="header-category-dropdown">
                <option value="">Categorias</option>
                <% data.categories.forEach(function(c){ %><option value="<%= c.id %>"><%= c.name %></option><% }); %>
            </select>
        </div>
        <div class="right menu">
            <a class='item disabled' id="position-toggle">
                <i class="icon location arrow"></i>
            </a>
        </div>
    </div>
</div>