#header-logo {
	padding: 0;
	margin: 0 0 0 10px;
}

#header-logo img {
	width: 30px;
	height: 30px;
}
#header .submenu {
	border-top: 1px solid rgba(0,0,0,0.1);
}
#search-box {
	padding: 6px;
}
#search-box .input {
	width: 250px;
}
#search-box input{
	padding: 0.4rem;
	border-radius: 0.2rem;
	border: 0;
}
#search-box .message.empty {
	display: none;
}
#search-box-button {
	position: absolute;
	right: 0.7rem;
	top: 1.1rem;
	color: black;
	border: 0;
	box-shadow: none !important;
	background: transparent;
	text-align: center;
	outline: 0;
}

#header-search-category {
	position: absolute;
	top: 1rem;
	padding-right: 1.5rem;
}

#header-search-category .title {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#header-search-category .close {
	position: absolute;
	right: 0;
	top: -0.3rem;
	padding: 0.6rem;
	height: 1.8rem;
}

#header-category-dropdown-wrapper {
	padding-left: 0;
}

#map {
	width: 100%;
	top: 81px;
	bottom: 0;
	position: absolute;
}

/* Iphone 5,5s in portrait*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {

	#header .item:after,
	#header .item:before {
		display: none;
		opacity: 0;
	}

	#header-category-dropdown-wrapper {
		padding-left: 5px;
		padding-right: 5px;
	}

	#header-category-dropdown {
		border: 0;
		padding: 0;
		margin: 0;
		background: transparent;
		width: 80px;
		text-transform: capitalize;
	}
}

[type="text/html"],
[template]{
	display: none;
}