.desktop #header.ui.fixed.menu+.ui.grid {
	padding-top: 4rem;
	padding-bottom: 2.60rem;
}
#header {border-bottom: 1px solid rgba(0,0,0,0.3);}
#header-logo, #search-box{padding:6px;padding-left:10px; padding-right: 10px;}
#header-logo img{width:30px;height:30px}
#header-logo:hover img {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.2);
}
#header-avatar {
	padding: 0;
}

#header-avatar img {
	width: 2em;
	height: 2em;
}
#search-box input{
	padding: 0.4rem;
	border-radius: 0.2rem;
	border: 0;
	width: 350px;
}
#search-box .message.empty {
	display: none;
}
#search-box-button {
	position: absolute;
	right: 0.7rem;
	top: 1.1rem;
	color: black;
	border: 0;
	box-shadow: none !important;
	background: transparent;
	text-align: center;
	outline: 0;
	opacity: 0;
}
#header-search-category {
	position: absolute;
	top: 1rem;
}
#category-dropdown-menu{max-height:300px;overflow-y:scroll}
#category-dropdown-menu .item{text-transform:capitalize}
#facebook-login-button .loader {font-size: 0.6rem;}
#map{position:absolute;top:42px;bottom:36px;background:url(/images/bg.jpg) no-repeat center center;background-size:cover;left:0;right:0}

#header-search-text {
	border: 0;
}
#header-category-dropdown-wrapper {
	background: transparent;
	border: 0;
}
#header-category-dropdown-wrapper .default.text {
	color: white;
}
#header-category-dropdown-wrapper .item,
#header-category-dropdown-wrapper .text {
	text-transform: capitalize;
}
#venue-view{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	min-width: 300px;
}
#venue-view .card{
	position: fixed;
	top: 50px;
	left: 10px;
	bottom: 45px;
	margin: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.5);
	overflow-y: scroll;
	width: 300px;
	z-index: 2;
}

#venue-view .card .options{
	text-align: center;
}

#venue-view .card .rating {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.1);
	padding: 10px;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#venue-view .card .ui.segment.center {
	min-height: 80%;
}

#venue-view .card .image {
	max-height: 250px;
	overflow: hidden;
}

#venue-view #venue-options {
	position: absolute;
	left: 305px;
	top: 100px;
	padding-left: 0;
	min-width: 150px;
	z-index: 1;
}
#venue-view #venue-options .button {
	margin-bottom: 10px;
	white-space: nowrap;
}

#venue-view table img {
	width: inherit;
	height: inherit;
}

#venue-view #venue-options .super.button {
	box-shadow: 0 0 5px yellowgreen;
}
/* Slider component */
.ui.slider.range input[type="range"] {
	-webkit-appearance: none;
	border-radius: 500rem;
	padding: 3px 5px;
	width: 100%;
	outline: none;
	background: rgba(0,0,0,.05);
	height:1.5rem;
	position: relative;
}

.ui.slider.range input[type="range"]::-moz-range-track {
	background: none;
	border: none;
}

.ui.slider.range input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05),0 0 0 1px rgba(39,41,43,.15) inset;
	border-radius: 500rem;
	height: 1.5rem;
	width: 1.5rem;
}

.ui.slider.range input[type="range"]::-moz-range-thumb {
	background: linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05),0 0 0 1px rgba(39,41,43,.15) inset;
	border-radius: 500rem;
	height: 1.5rem;
	width: 1.5rem;
}
.ui.slider.range input[type="range"]:focus,
.ui.slider.range input[type="range"]:hover {
	background-color: rgba(0,0,0,.1);
	border: none;
}

.ui.slider.range input[type="range"]:before{
	content: attr(min-label);
	position:absolute;
	height: 1.5rem;
	top: -1.5rem;
}

.ui.slider.range input[type="range"]:after{
	content: attr(max-label);
	position:absolute;
	height: 1.5rem;
	top: -1.5rem;
	right: 0;
}

pre {
	word-break: break-word;
}

.disable-events {
	pointer-events: none !important;
}

[type="text/html"],
[template]{
	display: none;
}