<div class="ui right vertical inverted labeled sidebar menu" id="sidebar">
    <% if(!data.user){ %>
    <a class="item" id="header-login-button">
        <i class="icon sign in"></i>
        Iniciar Sesion
    </a>
    <a class="item" id="header-signup-button">
        <i class="icon unlock alternate"></i>
        Crear Cuenta
    </a>
    <a class='item' id="facebook-login-button">
        <i class="icon facebook"></i>
        Inicio con Facebook
    </a>
    <% } else { %>
    <a class="item" id="header-profile-button">
        <i class="icon info user"></i>
        Mi Perfil
    </a>
    <a class="item" id="header-signout-button">
        <i class="icon lock"></i>
        Cerrar Sesion
    </a>
    <% } %>
    <a class='item' id="header-settings-button">
        <i class="icon settings"></i>
        Ajustes
    </a>
    <a href="/about" class='item' id="footer-about-us-button">
        <i class="icon info circle"></i>
        Acerca de Jound
    </a>
    <a href="/privacy" class='item' id="footer-about-us-button">
        <i class="icon unhide"></i>
        Politica de Privacidad
    </a>
    <a href="/referrals" class='item' id="footer-about-us-button">
        <i class="icon users"></i>
        Programa de Afiliados
    </a>
    <a href="/business-add" class='item' id="footer-about-us-button">
        <i class="icon add circle"></i>
        Agregar mi Negocio
    </a>
</div>