<% layout('./layouts/boilerplate') -%>
<% script('/components/lodash/dist/lodash.min.js') -%>
<% script('/components/backbone/backbone.js') -%>
<% script('/components/papaparse/papaparse.min.js') -%>
<% script('/javascripts/xregexp.min.js') -%>
<% script('/javascripts/categories.js') -%>

<div class="ui fixed tiered menu w-tiered-menu">
    <div class="menu">
        <% include partials/menu %>
    </div>
    <div class="ui sub menu" id="sub-menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search categories...">
                <i class="search icon"></i>
            </div>
        </div>
        <a class="item add"><i class="icon plus"></i> Add new category</a>
        <a class="item add-sub"><i class="icon plus"></i> Add new sub category</a>
        <a class="item import-venues"><i class="code icon"></i> Import Venues</a>
    </div>
</div>

<div class="basic segment">
    <div class="ui left fixed vertical menu" id="main-sidebar-container">
        <div id="main-sidebar">
        <div class="ui inverted dimmer">
            <h5 class="ui icon header">
                <i class="asterisk loading icon"></i>
                Loading...
            </h5>
        </div>
        </div>
    </div>
</div>

<div id="main-container" class="basic segment w-tiered-menu">
    <div class="ui padded grid">
        <div class="sixteen wide column">
            <h3 class="ui top attached header">
                <i class="settings icon"></i>
                Category Details
            </h3>
            <div class="ui segment attached disabled" id="main-segment">
                
                <form class="ui form">
                    <div class="two fields">
                        <div class="required field">
                            <label>Name</label>
                            <div class="ui icon input">
                                <input type="text" placeholder="E.g. supermarket" id="name" name="category-name">
                                <i class="cube icon"></i>
                            </div>
                        </div>
                        <div class="required field">
                            <label>Name in plural</label>
                            <div class="ui icon input">
                                <input type="text" placeholder="E.g. supermarkets" id="plural-name" name="category-plural-name">
                                <i class="cubes icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="ui grid">
                        <div class="three column row">
                            <div class="column field">
                                <div class="ui toggle checkbox" id="category-is-primary-checkbox">
                                    <input type="checkbox" id="category-is-primary" name="category-is-primary" value=0>
                                    <label>Make primary category</label>
                                </div>
                            </div>
                            <div class="column field">
                                <div class="ui toggle checkbox" id="category-is-active-checkbox">
                                    <input type="checkbox" id="category-is-active" name="category-is-active" value=0>
                                    <label>Activate/Publish category</label>
                                </div>
                            </div>
                            <div class="column field">
                                <label>Set priority level</label>
                                <div class="ui selection dropdown" id="category-priority-dropdown">
                                    <input type="hidden" name="gender">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Priority level</div>
                                    <div class="menu">
                                        <div class="item" data-value="1" data-text="Very Low">
                                            Very Low
                                        </div>
                                        <div class="item" data-value="2" data-text="Low">
                                            Low
                                        </div>
                                        <div class="item" data-value="3" data-text="Moderate">
                                            Moderate
                                        </div>
                                        <div class="item" data-value="4" data-text="High">
                                            High
                                        </div>
                                        <div class="item" data-value="5" data-text="Very High">
                                            Veyr High
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui two column grid">
                        <div class="column">
                            <h3 class="ui header">Sub Categories</h3>
                            <div class="ui divided list">
                                <div class="item">
                                    <div class="right floated mini ui icon red button"><i class="unlink icon"></i> Unlink</div>
                                    <i class="tag icon"></i>
                                    <div class="content">
                                        <div class="header">Category</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="right floated mini ui icon red button"><i class="unlink icon"></i> Unlink</div>
                                    <i class="tag icon"></i>
                                    <div class="content">
                                        <div class="header">Category</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="right floated mini ui icon red button"><i class="unlink icon"></i> Unlink</div>
                                    <i class="tag icon"></i>
                                    <div class="content">
                                        <div class="header">Category</div>
                                    </div>
                                </div>
                            </div>

                            <div class="ui icon buttons">
                                <div class="ui tiny button"><i class="wizard icon"></i> New</div>
                                <div class="ui tiny button"><i class="linkify icon"></i> Link</div>
                            </div>
                        </div>

                        <div class="column">
                            <h3 class="ui header">Keywords</h3>
                            <div id="category-keywords">
                            </div>
                            <textarea id="category-keywords-area" name="category-keywords-area" hidden></textarea>
                        </div>
                    </div>

                    <div class="ui actions right aligned basic segment">
                        <div class="ui positive right labeled icon button disabled" id="category-update-button">
                        Update Category
                        <i class="checkmark icon"></i>
                        </div>
                    </div>
                </form>
                <div class="ui inverted dimmer">
                    <h5 class="ui icon header">
                        <i class="asterisk loading icon"></i>
                        Saving...
                    </h5>
                </div>
            </div>
            <div class="ui bottom attached warning message">
                <i class="icon warning sign"></i> Be aware that editing a category may alter the results in any of our client apps, proceed with caution.
            </div>
        </div>
    </div>
    <div class="ui inverted dimmer">
        <div class="ui text loader">Loading...</div>
    </div>
</div>

<div type="text/html" id="modal-template">
    <div class="header">
        Add New Category
    </div>
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="required field">
                    <label>Name (case sensitive)</label>
                    <div class="ui icon input">
                        <input type="text" placeholder="E.g. supermarket" id="new-name" name="new-name">
                        <i class="cube icon"></i>
                    </div>
                </div>
                <div class="required field">
                    <label>Name in plural (case sensitive)</label>
                    <div class="ui icon input">
                        <input type="text" placeholder="E.g. supermarkets" id="new-name-plural" name="new-name-plural">
                        <i class="cubes icon"></i>
                    </div>
                </div>
            </div>
            <div class="inline field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="new-is-primary" name="new-is-primary" value=0>
                <label>Make primary</label>
                </div>
            </div>
            <div class="inline field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" id="new-is-active" name="new-is-active" value=0>
                <label>Activate</label>
                </div>
            </div>
            <div class="required field">
                <label>Keywords</label>
                <textarea placeholder="Comma separated, e.g. supermarket, apple store, souvenir stands" id="new-keywords" name="new-keywords"></textarea>
            </div>
            <div class="ui error message">
                <ul class="list">

                </ul>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui negative right labeled icon button">
            Cancel
            <i class="close icon"></i>
        </div>
        <div class="ui positive right labeled icon button">
            Save new category
            <i class="checkmark icon"></i>
        </div>
    </div>
    <div class="ui inverted dimmer">
        <h5 class="ui icon header">
            <i class="asterisk loading icon"></i>
            Saving...
        </h5>
    </div>
</div>

<div type="text/html" id="import-modal-template">
    <div class="header">
        Import Venues
    </div>
    <div class="content" id="import-modal-content">
        <div id="venues-import-form-container">
            <div class="ui three column center aligned grid">
                <div class="ui column">
                    <form class="ui form">
                        <div class="ui center aligned basic segment field" id="venue-import-file">
                            <label for="venue-import-files" class="ui basic padded segment">
                                <i class="ui icon cloud upload huge circular inverted"></i>
                                <input type="file" name="venue-import-files" id="venue-import-files" multiple placeholder="Select files to import (cvs only)" />
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="venues-container" hidden>

        </div>
    </div>
    <div class="actions">
        <div class="ui negative right labeled icon button" id="venue-cancel-import-button">
            Cancel
            <i class="close icon"></i>
        </div>
        <div class="ui positive right labeled icon button disabled" id="venue-import-button">
            Import All
            <i class="checkmark icon"></i>
        </div>
    </div>
    <div class="ui inverted dimmer">
        <h5 class="ui icon header">
            <i class="asterisk loading icon"></i>
            Working...
        </h5>
    </div>
</div>
<div type="text/html" id="venue-table-template">
    <div class="ui segment">
        <div class="ui large red label">Filename: {{ data.file }}</div>
        <div class="ui search selection dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Select category</div>
            <div class="menu">
                {% data.categories.forEach(function(c){ %}<div class="item venue-category-item" data-value="{{ c.id }}">{{ c.name }}</div>{% }) %}
            </div>
        </div>
        <div class="ui divider"></div>
        <table class="ui small compact table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Keywords</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Social Reference</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot class="full-width"></tfoot>
        </table>
    </div>
</div>