<% layout('./layouts/boilerplate') -%>
<% script('/components/lodash/dist/lodash.min.js') -%>
<% script('/components/backbone/backbone.js') -%>

<div class="ui fixed tiered menu w-tiered-menu">
    <div class="menu">
        <% include partials/menu %>
    </div>
</div>