<% layout('./layouts/phones') -%>
<% script('/javascripts/lodash.min.js') -%>
<% script('/javascripts/backbone.js') -%>
<% script('//www.parsecdn.com/js/parse-1.3.4.min.js') -%>
<% script('//maps.google.com/maps/api/js?v=3&sensor=false&key=AIzaSyDErD0SmoSczDbedVgFhTdamYStKYU1mXM&language=es') -%>
<% script('//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js') -%>
<% script('/javascripts/app-phones.js') -%>

<div id="map">

</div>

<div class="ui small modal" id="login-modal">
    <form class="ui form content">
        <h2 class="ui center aligned icon header">
            <i class="circular sign in icon"></i>
            Iniciar Sesion
        </h2>
        <div class="ui padded grid center aligned">
            <div class="ui row">
                <div class="twelve wide column">
                    <div class="field">
                        <input type="text" id="login-modal-username" name="login-modal-username" placeholder="Correo electronico" />
                    </div>
                    <div class="field">
                        <input type="password" id="login-modal-password" name="login-modal-password" placeholder="Contrasena" />
                    </div>
                </div>
            </div>
            <div class="ui row">
                <div class="ui red right icon button" id="login-modal-cancel">
                    Cancelar
                    <i class="close icon"></i>
                </div>
                <div class="ui blue right icon button" id="login-modal-ok">
                    Dame Jound
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </form>
</div>

<% if(data.venue) { %>
<script>
    window.initialVenueConfig = <%- JSON.stringify(data.venue) %>
</script>
<% } %>
<div id="venue-view" hidden></div>
<div class="ui small modal" id="signup-modal">
    <form class="ui form content">
        <h2 class="ui center aligned icon header">
            <i class="circular unlock alternate icon"></i>
            Crear Cuenta
        </h2>
        <div class="ui padded grid center aligned">
            <div class="ui row">
                <div class="twelve wide column">
                    <div class="field">
                        <input type="text" id="signup-modal-username" name="signup-modal-username" placeholder="Correo electronico" />
                    </div>
                    <div class="field">
                        <input type="password" id="signup-modal-password" name="signup-modal-password" placeholder="Contrasena" />
                    </div>
                    <div class="field">
                        <input type="password" id="signup-modal-password-confirmation" name="signup-modal-password-confirmation" placeholder="Confirma tu contrasena" />
                    </div>
                    <div class="field">
                        <div class="ui slider checkbox">
                            <input type="checkbox" name="signup-tos-confirmation" id="signup-tos-confirmation">
                            <label for="signup-tos-confirmation">Accepto los terminos y condiciones</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui row">
                <div class="ui red right icon button" id="signup-modal-cancel">
                    Cancelar
                    <i class="close icon"></i>
                </div>
                <div class="ui blue right icon button" id="signup-modal-ok">
                    Crear
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </form>
</div>