<% layout('./layouts/boilerplate') -%>
<div class="ui three column centered grid">
    <div class="column">
        <img id="logo" class="ui small circular image" src="/images/logo-with-bg.jpg" />

        <form class="ui segment form" id="loginForm">
            <div class="field">
                <input name="email" type="email" placeholder="Email"/>
            </div>
            <div class="field">
                <input name="password" type="password" placeholder="Password"/>
            </div>
            
            <button type="submit" class="ui basic submit icon button"><i class="sign in icon"></i> Login</button>

            <a href="/forgot"><i class="undo icon"></i> Password Recovery</a>

            <div class="ui error message">
                <ul class="list">

                </ul>
            </div>
        </form>
        <div class="ui icon hidden message info">
            <i class="checkmark icon"></i>
            <div class="content">
                <div class="header">
                You are ready to go!
                </div>
                <p>We will redirect you to your dashboard in a second, if redirection does not happen automatically click <a href="/">here</a> to access your dashboard.</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        var $form = $('form');
        var $errorList = $form.find('.error.message ul');
        var $succesMessage = $('.info.message');
        //var $button = $('#submitForm');
        $form.form({
            email: {
                identifier: 'email',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Please enter your email address'   
                    },
                    {
                        type: 'email',
                        prompt: 'Please enter a valid email address'
                    }
                ]
            },
            password: {
                identifier: 'password',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Please enter your password'
                    },
                    {
                        type: 'length[6]',
                        prompt: 'Your password must be at least 6 characters'
                    }
                ]
            }
        });

        $form.on('submit', function(e){
            e.preventDefault();
            
            if($form.form('validate form')){
                var data = $form.form('get values');

                $form.addClass('loading').removeClass('error');
                $.ajax({
                    url: '/login',
                    type: 'POST',
                    data: {username: data.email, password: data.password},
                    dataType: 'json',
                    success: function(xhr, s) {
                        $form.removeClass('loading').addClass('disabled');
                        $succesMessage.removeClass('hidden');

                        setTimeout(function(){
                            window.location = '/';
                        }, 5000);
                    },
                    error: function(xhr, status){
                        $form.removeClass('loading').addClass('error');
                        if(status === 'error'){
                            var data = JSON.parse(xhr.responseText);
                            $errorList.html('<li>' + data.error + '</li>');
                        }else{
                            $errorList.html('<li>An unknow error has occurred, please contact customer support.</li>');
                        }
                    }
                });
            }
        });
    });
</script>