<% layout('./layouts/boilerplate') -%>
<% script('/components/lodash/dist/lodash.min.js') -%>
<% script('/components/backbone/backbone.js') -%>

<% include partials/menu %>

<div class="ui fixed tiered menu w-tiered-menu">
    <div class="menu">
        <% include partials/menu %>
    </div>
    <div class="ui sub menu" id="sub-menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search venues...">
                <i class="search icon"></i>
            </div>
        </div>
        <a class="item add">
            <i class="icon plus"></i> Add new venue
        </a>
    </div>
</div>