#logo {
	margin: 20px auto;	
}

#main-sidebar {
	top:0;
	z-index: 0;
	position: absolute;
	bottom: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#main-sidebar-container, #main-sidebar{
	width: 230px;
}

#main-sidebar-container {
	top: 0;
	z-index: 0;
}

.fixed.tiered.menu + .basic.segment #main-sidebar,
#main-container.w-tiered-menu {
	top: 70px;
}

#main-container {
	position: absolute;
	left: 230px;
	top: 36px;
	right: 0;
}

#main-sidebar .category-item {
	text-transform: : capitalize;
}

#category-keywords .label {
	margin-bottom: 5px;
}

#import-modal-content label {
	height: 150px;
}

#import-modal-content [type=file]{
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	vertical-align: top;
	padding-top: 120px;
	outline: none;
}

/* Import modal content */
#venues-container {
	max-height: 400px;
	overflow-y: scroll;
}

[type="text/html"]{
	display: none;
}