#header {border-bottom: 1px solid rgba(0,0,0,0.3);}
#header-logo{padding:6px;padding-left:10px; padding-right: 10px;}
#header-logo img{width:30px;height:30px}
#header-logo:hover img {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.2);
}
#search-box{padding-left:10px;padding-right:10px}
#category-dropdown-menu{max-height:300px;overflow-y:scroll}
#category-dropdown-menu .item{text-transform:capitalize}
#map{position:absolute;top:42px;bottom:36px;background:url(/images/bg.jpg) no-repeat center center;background-size:cover;left:0;right:0}

#header-search-text {
	border: 0;
}
#header-category-dropdown-wrapper {
	background: transparent;
	border: 0;
}
#header-category-dropdown-wrapper .default.text {
	color: white;
}
#header-category-dropdown-wrapper .item,
#header-category-dropdown-wrapper .text {
	text-transform: capitalize;
}
#venue-view {
	position: absolute;
	top: 50px;
	left: 10px;
	min-width: 300px;
	bottom: 45px;
	max-width: 300px;
}

#venue-view .card {
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.5);
}

#venue-view .ui.segment.center {
	min-height: 80%;
}

/* Slider component */
.ui.slider.range input[type="range"] {
	-webkit-appearance: none;
	border-radius: 500rem;
	padding: 3px 5px;
	width: 100%;
	outline: none;
	background: rgba(0,0,0,.05);
	height:1.5rem;
	position: relative;
}

.ui.slider.range input[type="range"]::-moz-range-track {
	background: none;
	border: none;
}

.ui.slider.range input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05),0 0 0 1px rgba(39,41,43,.15) inset;
	border-radius: 500rem;
	height: 1.5rem;
	width: 1.5rem;
}

.ui.slider.range input[type="range"]::-moz-range-thumb {
	background: linear-gradient(transparent,rgba(0,0,0,.05)) #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05),0 0 0 1px rgba(39,41,43,.15) inset;
	border-radius: 500rem;
	height: 1.5rem;
	width: 1.5rem;
}
.ui.slider.range input[type="range"]:focus,
.ui.slider.range input[type="range"]:hover {
	background-color: rgba(0,0,0,.1);
	border: none;
}

.ui.slider.range input[type="range"]:before{
	content: attr(min-label);
	position:absolute;
	height: 1.5rem;
	top: -1.5rem;
}

.ui.slider.range input[type="range"]:after{
	content: attr(max-label);
	position:absolute;
	height: 1.5rem;
	top: -1.5rem;
	right: 0;
}

[type="text/html"],
[template]{
	display: none;
}