<ion-view title="{{name}} - Eventos" align-title="left">
	<ion-nav-buttons side="left">
        <a href="/venues/{{venueId}}" class="button button-icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a ng-if="isIOS || isAndroid" class="button button-icon" href="jound://venues/{{venueId}}/reviews" ng-class="{'ion-social-android': isAndroid, 'ion-social-apple': isIOS}"></a>
		<a ng-click="share()" class="button button-icon ion-share" ng-if="items.length"></a>
    </ion-nav-buttons>
    <ion-content id="venue-events-page" scroll="false">
    	<div ng-if="loading" class="padding center aligned">
    		<ion-spinner></ion-spinner>
    		<div>Cargando eventos...</div>
    	</div>
    	<div ng-if="!loading && !items.length" class="center aligned padding error message perro">
    		<img src="img/perro.png" />
    		<p>No hay eventos próximos, hemos notado tu interés, te mantendremos informado cuando un evento sea agregado.</p>
    	</div>
    	<ion-slide-box ng-if="items.length" delegate-handle="venueEventHandle" show-pager="false">
			<ion-slide ng-repeat="item in items" style="background-image:url({{item.bannerUrl || item.banner.url}})">
				<div class="event">
					<h4 class="light">{{item.name}}</h4>
					<p>{{item.description}}</p>
					<div ng-if="item.url">Más información en: <a ng-click="openUrl(item.url)">{{item.url}}</a></div>
				</div>
			</ion-slide>
		</ion-slide-box>
    </ion-content>
</ion-view>
