<ion-view title="{{name}} - Productos" align-title="left">
	<ion-nav-buttons side="left">
        <a href="/venues/{{venueId}}" class="button button-icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a ng-if="isIOS || isAndroid" class="button button-icon" href="jound://venues/{{venueId}}/reviews" ng-class="{'ion-social-android': isAndroid, 'ion-social-apple': isIOS}"></a>
        <a ng-click="share()" class="button button-icon ion-share" ng-if="items.length"></a>
    </ion-nav-buttons>
    <ion-content id="venue-products-page">
        <div ng-if="!loading && !items.length" class="center aligned padding error message perro">
            <img src="img/perro.png" />
            <p>Este comerciante aún no ha agregado productos, hemos notado tu interés, te mantendremos informado cuando {{name}} agregue productos.</p>
        </div>
    	<ion-list>
			<ion-item ng-repeat="item in items" class="item-thumbnail-left item-icon-left product" ng-click="openProduct(item)">
				<img ng-src="{{item.picture.url}}" ng-if="item.picture" />
				<img ng-src="{{item.pictureUrl}}" ng-if="item.pictureUrl && !item.picture" />
			    <h2>{{item.name}}</h2>
			    <p>{{item.description}}</p>
			    <p class="dark">${{item.price.toFixed(2)}}</p>
			</ion-item>
    	</ion-list>
    	<ion-infinite-scroll on-infinite="loadItems(venueId, skip)" distance="1%" immediate-check="true" ng-if="canLoad()">
            <ion-spinner></ion-spinner>
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
