<ion-view title="{{name}} - Promos" align-title="left">
	<ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" ng-click="back()">
        </button>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
        <a ng-click="share()" class="button button-icon ion-share" ng-if="items.length"></a>
    </ion-nav-buttons>
    <ion-content id="venue-promos-page" scroll="false">
    	<div ng-if="loading" class="padding center aligned">
    		<ion-spinner></ion-spinner>
    		<div>Cargando promos...</div>
    	</div>
    	<div ng-if="!loading && !items.length" class="center aligned padding error message">
    		<div><i class="icon ion-nuclear"></i></div>
    		<p>No hay promociones aun, hemos notado tu interes, te mantendremos informado cuando una nueva promocion sea agregada.</p>
    	</div>
    	<ion-slide-box ng-if="items.length">
			<ion-slide ng-repeat="item in items" style="background-image:url({{item.bannerUrl || item.file.url}})">
				<div class="promo">
					<h2>{{item.name}}</h2>
					<p>{{item.description}}</p>
					<div ng-if="item.url">Mas informacion en: <a ng-click="openUrl(item.url)">{{item.url}}</a></div>
				</div>
			</ion-slide>
		</ion-slide-box>
    </ion-content>
</ion-view>
